# Strings

In [2]:
firstname = "Julius"
lastname = "Fält Skoglund"

fullname = firstname + " " + lastname
fullname

'Julius Fält Skoglund'

In [7]:
occupation = "Student"
school = "STI"
adress = "Liljeholmsgränd 7"
phone = "070 00000000"

# multie line string
contact_details = f"""
name: {fullname}
occupation: {occupation}
school: {school}
adress: {adress}
phone: {phone}

"""

In [8]:
contact_details

'\nname: Julius Fält Skoglund\noccupation: Student\nschool: STI\nadress: Liljeholmsgränd 7\nphone: 070 00000000\n\n'

In [9]:
print(contact_details)

name: Julius Fält Skoglund
occupation: Student
school: STI
adress: Liljeholmsgränd 7
phone: 070 00000000

In [16]:
menu = ["Chili con carne", "Noodles", "Pokebowl", "Pancakes", "Taco"]
days = ["Monday", "Tuseday", "Wensday", "Thursday", "Friday"]

# \n = jump to new row
weekly_menu = "Weekly menu\n"

for day, food in zip(days, menu):
    weekly_menu += f"{day:<10} {food}\n"

print(weekly_menu)

Weekly menu
Monday     Chili con carne
Tuseday    Noodles
Wensday    Pokebowl
Thursday   Pancakes
Friday     Taco

In [19]:
# ! before a word means "not"
quote = "!False - It's funny because it's true"
quote

"!False - It's funny because it's true"

In [21]:
quote[0] # = first letter

'!'

In [23]:
quote[-1] # = last letter

'e'

In [25]:
quote[:6] # = First 6 letters

'!False'

In [31]:
quote[::-1] # Spells out the string backwards

"eurt s'ti esuaceb ynnuf s'tI - eslaF!"

In [38]:
string_to_check = "anna"
string_to_check[::-1] == string_to_check # true or false if it is or is not palindrome

True

### Splitting and cleaning a string

In [29]:
subjects = "Math , biology , cHeMistry , PrOgramming   "
subjects

'Math , biology , cHeMistry , PrOgramming   '

In [30]:
subjects = "Math , biology , cHeMistry , PrOgramming   "

subjects = subjects.split(",")
subjects

['Math ', ' biology ', ' cHeMistry ', ' PrOgramming   ']

In [31]:
[subject.strip().lower() for subject in subjects]

['math', 'biology', 'chemistry', 'programming']

In [32]:
subjects = [subject.strip().upper() for subject in subjects]
for subject in subjects:
    print(f"{subject} has {len(subject)} characters")

MATH has 4 characters
BIOLOGY has 7 characters
CHEMISTRY has 9 characters
PROGRAMMING has 11 characters

### Regex
- A way to match diffrent strings (pattern matching)
- check fastcommands on regex on w3schools

In [38]:
import re
text ="Det avr en gång en liten katt som tog på sig en hatt."
match_list = re.findall(r".att", text)
match_list

['katt', 'hatt']

In [43]:
prsonal_numbers = "Ida: 19950516-2235, Berit: 19581212-3213: Ada: 050524-1513"
match_long = re.findall(r"\d{8}-\d{4}", prsonal_numbers)

match_long

['19950516-2235', '19581212-3213']

In [44]:
match_short = re.findall(r"\d{6}-\d{4}", prsonal_numbers)
match_short

['950516-2235', '581212-3213', '050524-1513']